#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}
@media (max-width: 600px) {
  button {
    font-size: 14px !important;
    padding: 8px 12px !important;
  }
  h2 { font-size: 1.2rem; }
}