#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 600px) {
  button {
    font-size: 14px !important;
    padding: 8px 12px !important;
  }
  h2 { font-size: 1.2rem; }
}